<%- include('partials/header') -%>

<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source src="/imgs/course-video.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="caption">
            <h2><img alt="GoTune.Pro" src="/imgs/herologo.png"></h2>
            <h6>Post, Play, Promote, Go!</h6>
            <p>GoTune.Pro is a free tool for artists to upload music and share on the go!</p>
            <div class="main-button-yellow">
                <div><a href="/signup">Try Now!</a></div>
            </div>
        </div>
            </div>
          </div>
        </div>
    </div>
</section>
<!-- ***** Main Banner Area End ***** -->

<section class="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="owl-service-item owl-carousel">
        
          <div class="item">
            <div class="icon">
              <img src="/imgs/goplay-orange.png" alt="">
            </div>
            <div class="down-content">
              <h4>Take A Peek</h4>
              <p>Try out our basic features before launch and sign up for a demo account today!</p>
            </div>
          </div>
          
          
          <div class="item">
            <div class="icon">
              <img src="/imgs/goplay-orange.png" alt="">
            </div>
            <div class="down-content">
              <h4>Featured Track!</h4>
              <p>Preview the GoTune.Pro experience with this song by The One I Ever Had!</p>
            </div>
          </div>
          
          <div class="item">
            <div class="icon">
              <img src="/imgs/goplay-orange.png" alt="">
            </div>
            <div class="down-content">
              <h4>GoTune is coming</h4>
              <p>GoTune.Pro will be open to the public soon. Look around!</p>
            </div>
          </div>
          
          <div class="item">
            <div class="icon">
              <img src="/imgs/goplay-orange.png" alt="">
            </div>
            <div class="down-content">
              <h4>Featured Track!</h4>
              <p>Preview the GoTune.Pro experience with this song by Corinne Stevie!</p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>

<!--featured grid-->
<section class="upcoming-meetings" id="meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>-</h2>
        </div>
      </div>
      
    </div>
  </div>
</section>


<section class="apply-now" id="apply">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="row">
          <div class="col-lg-12">
            <div class="item">
              <h3>-</h3>
              <p>-</p>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="item">
              <h3>-</h3>
              <p>-</p>
              <div class="main-button-yellow">
                <div class="scroll-to-section"><a href="/signup">Join Us Now!</a></div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="accordions is-first-expanded">
          <article class="accordion">
              <div class="accordion-head">
                  <span>HOST YOUR MUSIC</span>
                  <span class="icon">
                      <i class="icon fa fa-chevron-right"></i>
                  </span>
              </div>
              <div class="accordion-body">
                  <div class="content">
                      <p>Simply choose a file, fill out song info, and Go! 
                      <br>GoTune.Pro gives your song it's own page to play and share with the world.</p>
                  </div>
              </div>
          </article>
          <article class="accordion">
              <div class="accordion-head">
                  <span>GET STREAMS</span>
                  <span class="icon">
                      <i class="icon fa fa-chevron-right"></i>
                  </span>
              </div>
              <div class="accordion-body">
                  <div class="content">
                      <p>Treat GoTune.Pro like a businuess card.
                      <br>Feature links to stream or pre-add your songs on Spotify, Tidal, Amazon, and Apple Music!
                    </p>
                  </div>
              </div>
          </article>
          <article class="accordion">
              <div class="accordion-head">
                  <span>CUSTOM DESIGN</span>
                  <span class="icon">
                      <i class="icon fa fa-chevron-right"></i>
                  </span>
              </div>
              <div class="accordion-body">
                  <div class="content">
                      <p>Make your page unique with custom colors, backgrounds, buttons, and GOticons.
                        <br>
                      More coming soon!</p>
                      
                  </div>
              </div>
          </article>
          <article class="accordion last-accordion">
              <div class="accordion-head">
                  <span>TELL A FRIEND! TELL US</span>
                  <span class="icon">
                      <i class="icon fa fa-chevron-right"></i>
                  </span>
              </div>
              <div class="accordion-body">
                  <div class="content">
                      <p>GoTune.Pro is for the community and by the community. Tell a friend!
                        <br>
                        We are constantly evolving, and we encourage feedback and ideas. Tell us!
                      </p>
                  </div>
              </div>
          </article>
      </div>
      </div>
    </div>
  </div>
</section>
    

<%- include('partials/footer') -%>